.PickTag {
  position: fixed;
  width: 200px;
  border: 1px solid #111;
  right: 10px;
  top: 10px;
  padding: 10px;
  text-align: center;
}

.PickTag-close {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid #aaa;
  border-radius: 50%;
  cursor: pointer;
}
